.row {
  margin-bottom: 30px;
}

.streams-container {
  padding-left: 10px;
}

.streams {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.stream {
  flex: 1 1 100%;
  display: flex;
  opacity: 0.5;
}

.stream.live {
  opacity: 1;
}

.stream > * {
  flex: 1;
}

.icon {
  flex: 1;
}

.icon img {
  width: 100px;
}

.name {
  flex: 2;
}

.status {
  flex: 4;
}

.game {
  font-weight: bold;
}

.game-status {
  font-style: italic;
}

footer {
  text-align: center;
}
